*{
	margin:0px;
	padding: 0px;
}
body{
    background:url(../images/LgiRstBackground.jpg);
    background-origin:content;
    background-position:center 0;
    background-size:cover; 
    background-repeat:no-repeat;
    background-attachment:fixed;
    height:100%;
    margin: 0px;
    padding: 0px;
    
    
}
#LoginBox{
	position:relative;
    border: 1px solid #E2E3E5;
    width: 21%;
	height: 30%;
	box-shadow: 10px 10px 30px #888888;
	background:#FFFFCC;
	margin-top:10%;
	margin-left:40%;
	
}
#LoginIDLabel{
	position:relative;
	//border: 1px solid #E2E3E5;
	font-family:\6977\4F53_GB2312;
	font-size:200%;
    margin-left:9%;
    margin-top:3%;
	display:inline-block;
	vertical-align:middle;
	font:"Microsoft YaHei";
}
#IDInput{
	position:relative;
	border: 1px solid #E2E3E5;
	width:60%;
	height:3%;
	display:inline-block;
	vertical-align:middle;
	font-size:200%;
	margin-top:3%;
}
#LoginPasswordLabel{
	position:relative;
	//border: 1px solid #E2E3E5;
	font-size:200%;
    margin-left:9%;
    margin-top:3%;
	display:inline-block;
	vertical-align:middle;
	font:200% Times;
}
#PasswordInput{
	position:relative;
	border: 1px solid #E2E3E5;
	width:60%;
	height:3%;
	margin-top:3%;
	display:inline-block;
	vertical-align:middle;
	font-size:200%;
}
#LoginVericodeLabel{
	position:relative;
	//border: 1px solid #E2E3E5;
	display:inline-block;
	font-size:200%;
    margin-left:1%;
    margin-top:3%;
	vertical-align:middle;
}
#VericodeInput{
	position:relative;
	border: 1px solid #E2E3E5;
	width:35%;
	height:3%;
	display:inline-block;
	font-size:200%;
	vertical-align:middle;
	margin-left:-0.5%;
	margin-top:3%;
}
#LoginVericodePic{
	position:relative;
	background:url(../images/yanzhengma.jpg);
	background-repeat:no-repeat;
	border: 1px solid #E2E3E5;
	width:69px;
	height:30px;
	margin-left:0px;
	display:inline-block;
	vertical-align:middle;
	margin-top:15px;
}
#RegistWant{
	border: 1px solid #E2E3E5;
	font: bold 30px Arial;
	width:20%;
	height:17%;
	display:inline-block;
	vertical-align:middle;
	margin-left:25%;
	margin-top:10%;
	margin-bottom:5%;
	background:#FFFFFF;
	box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.2);
}

#LoginInput{
	border: 1px solid #E2E3E5;
	background:#FFFFFF;
	font: bold 30px Arial;
	width:20%;
	height:17%;
	display:inline-block;
	vertical-align:middle;
	margin-left:12%;
	margin-top:10%;
	margin-bottom:5%;
	box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.2);
}
