@font-face{
    font-family: 'HANYIXUEJUN';
    src : url('../fonts/HANYIXUEJUN.TTF');
}

body{
    background:url(../images/Background.jpg);
    background-origin:content;
    background-position:center 0;
    background-size:cover; 
    background-repeat:no-repeat;
    background-attachment:fixed;
    position:absolute;
    min-width:100%;
    height:100%;
    padding: 0px;
    line-height: 0;
    overflow: hidden;
}

#LoginSTitle{
	font-family: 'HANYIXUEJUN';
	font-size:150px;
	color:white;
	position:fixed;
	margin-top:200px;
	margin-left:400px;
	min-width:200px;
}
#LoginXTitle{
	font-family: 'HANYIXUEJUN';
	font-size:150px;
	color:white;
	position:fixed;
	margin-top:370px;
	margin-left:150px;
	min-width:1200px;
}
#LoginBox{
	position:fixed;
    border: 1px solid #E2E3E5;
    width: 15%;
	height: 40%;
	min-width:300px;
	min-height:400px;
	box-shadow: 10px 10px 30px #888888;
	background:#FFFFFF;
	margin-left:75%;
	margin-top:5%;
	opacity:0.85;
}
input {outline:none;}
#IDInput{
	position:relative;
	width:80%;
	height:13%;
	display:inline-block;
	vertical-align:middle;
	font-size:120%;
	margin-top:8%;
	margin-left:10%;
}
#PasswordInput{
	position:relative;
	width:80%;
	height:13%;
	display:inline-block;
	vertical-align:middle;
	font-size:120%;
	margin-top:8%;
	margin-left:10%
}
#VericodeInput{
	position:relative;
	width:50%;
	height:10%;
	display:inline-block;
	vertical-align:middle;
	font-size:120%;
	margin-top:8%;
	margin-left:10%
}
#LoginVericodePic{
	position:relative;
	background:url(../images/yanzhengma.jpg);
	background-repeat:no-repeat;
	border: 1px solid #E2E3E5;
	width:69px;
	height:30px;
	margin-left:67%;
	display:inline-block;
	vertical-align:middle;
	margin-top:-16%;
}
#JumpText{

}
#JumpToPwReset{

}
#RegistText{

}
.logbutton{
	position:relative;
	background: #0cea06;
    border: none;
    color: white;
    margin-top: 8%;
    margin-left:15%;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    width:70%;
    height:15%;
    font-size:130%;
}
.logbutton:hover {
    background: #2db618;
}
